@{
    ViewBag.Title = "My Repositories";
}

<div>

    <h1>@Model.User.Name</h1>
    <ul>
        @foreach(var repository in Model.Repositories)
        {
            <li><a href="@repository.HtmlUrl">@repository.FullName</a></li>
        }
    </ul>
</div>